<h1> This is Home#index</h1>
<%= link_to "Change password", edit_user_path(current_user) %>

<%= link_to "Registration", new_registration_path %>

<%= link_to "registration_card",  prints_registration_card_print_path %>
<%= link_to "income_certificate", prints_income_certificate_print_path %>
<%= link_to "community_certificate", prints_community_certificate_print_path %>
<%= link_to "disability_certificate", prints_disability_certificate_print_path %>
<%= link_to "workshop Division", workshop_search_person_path %>

