
<h1>Work shop</h1>
Date of Issue: <%= text_field_tag :date_of_issue %>
No.of Item: <%= text_field_tag :no_of_items %>
Actual cost <%= text_field_tag :actual_cost %>
Total Assistance Amount :<%text_field_tag :total_assistance_amount %>
Category: <%text_field_tag :category %>

<%= link_to "Back", root_path %>




<!-- Name: <%= text_field_tag :name, params[:name], id: 'name' %>
Age: <%= text_field_tag :age %>
Sex: <%= text_field_tag :sex %>
Address: <%= text_field_tag :address %>
Income: <%= text_field_tag :income %>
Aids/Appliances: <%= text_field_tag :aids_or_appliances %>
 -->